@import lib.model.TodoCategory
@import lib.persistence.onMySQL.TodoCategoryRepository

@(
vv:     model.TodoCategoryVV.ViewValueCategoryList,
list:   Seq[TodoCategoryRepository.EntityEmbeddedId]
)

@common.Default(vv){
            <button class="home"><a href="@controllers.routes.HomeController.index">Home画面に戻る</a></button>
            <button class=register><a href="@controllers.routes.TodoCategoryController.store()">Categoryを登録する</a></button>
            @for(category  <-  list){
                <div class="list">
                    <p class="name">カテゴリ: @category.v.name</p>
                    <p class="slug">スラッグ: @category.v.slug</p>
                    <p class="@category.v.color.name">色:  @category.v.color.name</p>
                    <button class="delete"><a href="@controllers.routes.TodoCategoryController.delete(category.id.toInt)">Categoryを削除</a></button>
                    <button class="edit"><a href="@controllers.routes.TodoCategoryController.edit(category.id.toInt)">Categoryを編集</a></button>
                </div>
            }

}