body {
  margin:   0;
  padding:  0;
}

.header {
  height:            70px;
  background-color:  #24292F;
  width:             100%;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  color:             white;
  line-height:       70px;
  font-size:         20px;
  font-weight:       bold;
}

.main {
  width:      980px;
  margin:     100px auto;
  padding:    100px;
  box-shadow: 0 0 4px gray;
  position:   relative;
  background-color: #5f9ea0;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}

/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}

h1{
    text-align:     center;
    font-size:      70px;
}

table {
    table-layout:   fixed;
    width:          100%;
    text-align:     center;
}

table th {
    font-size:  30px;
    color:      khaki;
    padding:    15px    0  30px 0;
}

table td {
    font-size:      20px;
    border-bottom:  solid 1px lightyellow;
    padding-bottom: 10px;
}
