body {
  margin:           0;
  padding:          0;
  background-color: white;
  font-family:    'Bitter', serif;
}

.header {
  height:            70px;
  background-color:  #24292F;
  width:             100%;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  color:             white;
  line-height:       70px;
  font-size:         20px;
  font-weight:       bold;
}

.main {
  width:            980px;
  margin:           100px auto;
  padding:          100px;
  box-shadow:       0 0 4px gray;
  position:         relative;
  background-color: #e6e6fa;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}


/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}

h1 {
    text-align:     center;
    font-size:      50px;
}

.done {
    border-radius:      10px;
    border:             0px none;
    background-color:   #FFFF00;
    opacity:            0.6;
    padding:            20px;
    display:            inline;
    cursor:             pointer;
}

.home {
    border-radius:      10px;
    border:             0px none;
    background-color:   #FF0000;
    opacity:            0.6;
    padding:            20px;
    float:              right;
    cursor:             pointer;
}


a {
    text-decoration:    none;
    font-size:          15px;
    color:              black;
}
