@import lib.model.Todo
@import lib.model.Todo.Status._
@import lib.model.TodoCategory

@(
vv:            model.TodoVV.ViewValueEdit,
id:            Todo.Id,
list:          List[String],
categoryList:  List[TodoCategory]
)(implicit request: RequestHeader,  messageProvider: MessagesProvider)

@common.Default(vv){
    @helper.form(action = controllers.routes.TodoController.update(id.toInt)) {
        @helper.CSRF.formField

        @*   １行だけのテキスト  *@
        @helper.inputText(vv.form("title"),
        'size -> 100,    '_label -> "タイトル",     '_showConstrains -> false
        )

        @*   複数行のテキスト(制約はない)    *@
        @helper.textarea(vv.form("body"),
        'rows -> 6,     'cols -> 150,        '_label -> "内容",    '_showConstrains -> false,
        'class -> "textarea"
        )

        @*  TODOの状況  *@
        @helper.inputRadioGroup(vv.form("stateName"),
        options = Seq(Todo.Status.IS_INACTIVE.name -> Todo.Status.IS_INACTIVE.name,  Todo.Status.IS_ACTIVE.name -> Todo.Status.IS_ACTIVE.name,  Todo.Status.DONE.name -> Todo.Status.DONE.name),
        '_label -> "TODO状況"
        )

        @*   フロント、バック、インフラのみなのでラジオ式     *@
        @helper.inputRadioGroup(vv.form("categoryName"),
        options = for{
            cName  <- list
            cId    <- categoryList.find(_.name == cName)
            } yield {
                cId.color.code.toString -> cName
        },
        '_label -> "開発カテゴリ"
        )

        <p><input type="submit" value="Todo編集完了"></p>

        <a href="/todo/list">一覧画面に戻る</a>

    }
}

