@import lib.model.Todo

@(
vv:     model.TodoVV.ViewValueEdit,
id:     Todo.Id
)(implicit request: RequestHeader,  messageProvider: MessagesProvider)

@common.Default(vv){
    @helper.form(action = controllers.routes.TodoController.update(id.toInt)) {
        @helper.CSRF.formField

        @*   １行だけのテキスト  *@
        @helper.inputText(vv.form("title"),
        'size -> 100,    '_label -> "タイトル",     '_showConstrains -> false
        )

        @*   複数行のテキスト(制約はない)    *@
        @helper.textarea(vv.form("body"),
        'rows -> 6,     'cols -> 150,        '_label -> "内容",    '_showConstrains -> false,
        'class -> "textarea"
        )

        @*  TODOの状況  *@
        @helper.inputRadioGroup(vv.form("stateName"),
        options = Seq("未着手" -> "TODO",  "実行中" -> "実行中",  "完了" -> "完了"),
        '_label -> "TODO状況"
        )

        @*   フロント、バック、インフラのみなのでラジオ式     *@
        @helper.inputRadioGroup(vv.form("categoryName"),
        options = Seq("フロントエンド" -> "フロントエンド", "バックエンド" -> "バックエンド", "インフラ" -> "インフラ"),
        '_label -> "開発カテゴリ"
        )

        <p><input type="submit" value="Todo編集完了"></p>

        <a href="/todo/todoList">一覧画面に戻る</a>

    }
}

