@import model.TodoForm.TodoData

@(vv:     model.ViewValueStore)(implicit request: RequestHeader,  messageProvider: MessagesProvider)

@common.Default(vv){
    @helper.form(action = controllers.routes.TodoController.store()) {
        @helper.CSRF.formField

        @*   １行だけのテキスト  *@
        @helper.inputText(vv.form("title"),
            'size -> 100,    '_label -> "タイトル",     '_showConstrains -> false,  'placeholder -> "タイトルを入力"
        )
        @*   複数行のテキスト(制約はない)    *@
        @helper.textarea(vv.form("body"),
            'rows -> 6,     'cols -> 150,        '_label -> "内容",    '_showConstrains -> false,
            'placeholder -> "Todoの内容を入力（任意）"
        )
        @*   フロント、バック、インフラのみなのでラジオ式     *@
        @helper.inputRadioGroup(vv.form("categoryName"),
            options = Seq("フロントエンド" -> "フロントエンド", "バックエンド" -> "バックエンド", "インフラ" -> "インフラ"),
            '_label -> "開発カテゴリ"
        )

        <p><input type="submit" value="Todoを登録"></p>
        <a href="/todo/todoList">一覧画面に戻る</a>
    }

}