@import lib.model.Todo
@import lib.model.Todo.Status._

@(
vv:         model.TodoVV.ViewValueList
)(implicit request: RequestHeader,  messageProvider: MessagesProvider)

@common.Default(vv){
    <div class="todoList">
        <table>
            <tr>
                <th>タイトル</th>
                <th>内容   </th>
                <th>現状   </th>
                <th>カテゴリ</th>
                <th>編集   </th>
                <th>削除   </th>
            </tr>
            @*   for文でtodoInfoの要素数、情報を出力    *@
            @for(todo      <- vv.todoList){
            @helper.form(action = controllers.routes.TodoController.delete(todo.id.get.toInt)){
            @helper.CSRF.formField
                <tr>
                    <td>             @todo.title      </td>
                    <td>             @todo.body       </td>
                    <td>             @todo.state.name </td>
                    @*   背景色変換とカテゴリ名の出力は、todoList.jsで操作     *@
                    <td class="color@{
                        val color = vv.categoryList.find(_.color.code == todo.category_id).map(_.color)
                        color match {
                            case Some(c) => c.code
                            case None    => 0
                        }
                    }">
                        @{
                        val category = vv.categoryList.find(_.color.code == todo.category_id).map(_.name)
                        category match {
                            case Some(name)  =>  name
                            case None        =>  "カテゴリ名が見つかりません"
                        }
                        }
                    </td>
                    <td><a href="@controllers.routes.TodoController.edit(todo.id.get.toInt)">このTodoを編集</a></td>
                    <td><input type="submit" formmethod="post" value="Todoを削除"></td>
                </tr>
            }
            }
        </table>
        <p class=register><a href="@controllers.routes.TodoController.store()">Todoを登録する</a></p>
        <a href="@controllers.routes.HomeController.index">Home画面に戻る</a>
    </div>
}