@import lib.model.Todo
@import lib.model.Todo.Status._

@(
vv:         model.TodoVV.ViewValueList
)(implicit request: RequestHeader,  messageProvider: MessagesProvider)

@common.Default(vv){
    <div class="todoList">
        <table>
            <tr>
                <th>タイトル</th>
                <th>内容   </th>
                <th>現状   </th>
                <th>カテゴリ</th>
                <th>編集   </th>
                <th>削除   </th>
            </tr>
            @*   for文でtodoInfoの要素数、情報を出力    *@
            @for(todo      <- vv.todoList){
            @helper.form(action = controllers.routes.TodoController.delete(todo.id.toInt)){
            @helper.CSRF.formField
                <tr>
                    <td>             @todo.v.title      </td>
                    <td>             @todo.v.body       </td>
                    <td>             @todo.v.state.name </td>
                    <td class="color@vv.categoryList.find(_.id.toInt == todo.v.category_id).map(_.v.color.code).getOrElse(0)">
                        @{
                        val category = vv.categoryList.find(_.id.toInt == todo.v.category_id).map(_.v.name)
                        category.getOrElse("カテゴリ名が見つかりません。")
                        }
                    </td>
                    <td><a href="@controllers.routes.TodoController.edit(todo.id.toInt)">このTodoを編集</a></td>
                    <td><input type="submit" formmethod="post" value="Todoを削除"></td>
                </tr>
            }
            }
        </table>
        <p class=register><a href="@controllers.routes.TodoController.store()">Todoを登録する</a></p>
        <a href="@controllers.routes.HomeController.index">Home画面に戻る</a>
    </div>
}