@import model.TodoData

@(
vv:     model.ViewValueStore,
form:   Form[model.TodoData]
)(implicit request: RequestHeader,  messageProvider: MessagesProvider)

@common.Default(vv){
    @helper.form(action = controllers.routes.HomeController.store()) {
        @helper.CSRF.formField

        @*   １行だけのテキスト  *@
        @helper.inputText(form("title"),
            'cols -> 50,    '_label -> "タイトル",     '_showConstrains -> false
        )
        @*   複数行のテキスト(制約はない)    *@
        @helper.textarea(form("body"),
            'rows -> 6,     'cols -> 150,        '_label -> "内容",    '_showConstrains -> false
        )
        @*   フロント、バック、インフラのみなのでラジオ式     *@
        @helper.inputRadioGroup(form("categoryName"),
            options = Seq("フロントエンド" -> "フロントエンド", "バックエンド" -> "バックエンド", "インフラ" -> "インフラ"),
            '_label -> "開発カテゴリ"
        )

        <input type="submit" value="Todoを登録">
    }

}