@import lib.model.User
@import lib.model.User.Status._
@import lib.model.UserCategory

@(
vv:             model.ViewValueList,
userInfo:       List[User],
userCategory:   List[UserCategory]
)

@common.Default(vv){
    <div class="userList">
        <table>
            <tr>
                <th>タイトル</th>
                <th>内容   </th>
                <th>現状   </th>
                <th>カテゴリ</th>
            </tr>
            @*   for文でuserInfoの要素数、情報を出力    *@
            @for(user <- userInfo){
                <tr>
                    <td>             @user.title      </td>
                    <td>             @user.body       </td>
                    <td>             @user.state.name </td>
                    @*   背景色変換とカテゴリ名の出力は、userList.jsで操作     *@
                    <td class="slug">@user.category_id.toString</td>
                </tr>
            }
        </table>
    </div>
}